:root {
  --body: black;
  --text: white;
}

html {
  color: var(--text);
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--body);
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  word-wrap: break-word;
}

header {
  color: var(--text);
  text-align: center;
  font-weight: 900;
  font-size: 30px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.main-container {
  display: flex;
  gap: 30px;
  margin-right: 120px;
}

button {
  padding: 25px;
  font: "Lato";
  background-color: var(--body);
  color: var(--text);
  margin: 5px;
  border-radius: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

table,
tr,
td {
  border: 2px solid white;
}

.game-table {
  text-align: center;
}

input {
  margin: 0;
  margin-top: 5px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--body);
  color: var(--text);
}

td {
  width: 150px;
  height: 150px;
  text-align: center;
  color: var(--text);
  font-size: 80px;
  font-weight: bold;
}

.players {
  margin: 10px;
  display: flex;
  justify-content: center;
  gap: 120px;
}

.player1,
.player2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name1,
.name2 {
  font-size: 20px;
  font-weight: bold;
}

#player1-mark,
#player2-mark {
  font-size: 30px;
}

span {
  font-size: 25px;
  color: var(--text);
}

footer {
  color: var(--text);
  font-weight: 300;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: relative;
  background-color: white;
  color: var(--body);
  width: 40%;
  height: 50%;
  padding: 30px;
  margin: 30px;
  border: 2px solid var(--border);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modal input {
  font-size: 20px;
  width: 50%;
  padding: 15px;
}

.exit-btn {
  position: absolute;
  color: black;
  top: 0px;
  right: 8px;
  font-weight: bold;
  cursor: pointer;
}
